@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h1 span {
    color: orangered;
}

.container {
    display: flex;
    margin-bottom: 50px;
    background-image: url(../images/top-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.my__div {
    width: 50%;
    padding-left: 2%;
}

.div__div img {
    width: 80%;
}

a.Hire-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.Dream {
    display: flex;
    background-image: url(../images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}